<h1> <%= @user.username %> </h1>
<ul>
  <li>photo</li>
  <li> <%= @user.age %> </li>
  <li> <%= @user.gender %> </li>
  <li> <%= @user.language %> </li>
  <p> <%= @user.description %> </p>
</ul>
<table>
  <thead>
    <th>Activity</th>
    <th>Category</th>
    <th>Location</th>
    <th>Date</th>
    <th>Number of Participan</th>
  </thead>
  <tbody>
    <tr>
    <% @joined_activities.each do |joined_activity| %>
      <td> <%= joined_activity.name %> </td>
      <td> <%= joined_activity.category.name %> </td>
      <td> <%= joined_activity.location %> </td>
      <td> <%= joined_activity.date %> </td>
      <td> <%= joined_activity.users.length %> </td>
    <% end %>
    </tr>
  </tbody>
</table>
