<h1> <%= @user.username %> </h1>
<ul>
  <li>photo</li>
  <li> <%= @user.age %> </li>
  <li> <%= @user.gender %> </li>
  <li> <%= @user.language %> </li>
  <p> <%= @user.description %> </p>
</ul>

<% if @joined_activities.present?  %>
<div class="activities_list">
<h2>Joined Activities</h2>
<% @joined_activities.each do |joined_activity| %>
<%= render 'shared/card_activity_joined', activity: joined_activity %>
<% end %>
</div>
<% end %>





<% if @created_activities.present?  %>
<div class="activities_list">
<h2>Created Activities</h2>
<% @joined_activities.each do |created_activity| %>
<%= render 'shared/card_activity_joined', activity: created_activity %>
<% end %>
<% end %>
</div>

<p> <%= link_to 'Go back to all activities', activities_path %> </p>
