<div class= "container d-flex flex-column">
   <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <h1> <%= current_user.username %>'profile</h1>
    </div>


  <div class= "informations ">
    <ul class="text-user" >

      <div>Age: <%= @user.age %> years old</div>
      <div> Gender: <%= @user.gender %></div>
      <div> Language: <%= @user.language %></div>
      <div> <%= @user.description %> </div>
    </ul>
  </div>

  <div class= "activities">
    <% if @joined_activities.present?  %>
    <div>
      <h2>Joined Activities</h2>
      <div class="activities_list">
        <% @joined_activities.each do |joined_activity| %>
        <%= render 'shared/card_activity_joined', activity: joined_activity %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <div class= "activities">
    <% if @created_activities.present?  %>
    <div>
      <h2>Created Activities</h2>
      <div class="activities_list">
      <% @joined_activities.each do |created_activity| %>
      <%= render 'shared/card_activity_joined', activity: created_activity %>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>

  <p class="create-button"> <%= link_to 'Go back to all activities', activities_path %> </p>

<div>
