<div class="filter-activity">
  <h1>What will you be doing today?</h1>
    <%= simple_form_for(:query, url: activities_path, method: :get, html: {id: "filter"}) do |f| %>
          <%= f.input :category, collection: Category.all, selected: params.dig(:query, :category), include_blank: true %>
          <%= f.input :start_date, as: :date, html5: true, input_html: {value: params.dig(:query, :start_date)} %>
          <%= f.input :end_date, as: :date, html5: true, input_html: {value: params.dig(:query, :end_date)} %>
          <%= f.input :user_search, input_html: {value: params.dig(:query, :user_search)}  %>
          <%= f.submit class: "filter-btn" %>
    <% end %>
</div>

<div class="homepage">

  <div class="cards-container col-8">
    <p class="create-button"> <%= link_to "Create an activity", new_activity_path %> </p>
    <div class="cards ">
      <% @activities.each do |element| %>
        <% if current_user.nil? || element.allow?(current_user) %>
        <%= render 'shared/card', item: element %>
         <% end %>
        <% end  %>
    </div>
  </div>


  <div class="position-sticky col-4" id="map"
   style="width: 100%; height: 600px;"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
