<p>Name: <%= @activity.name %> </p>
<p>Location: <%= @activity.location %> </p>
<p> Date: <%= @activity.date %></p>
<p>Description: <%= @activity.description %> </p>
<p>User: <%= @activity.user.username %> </p>
<p>Category: <%= @activity.category.name %> </p>

